game/saves/
game/cache/
game/pythonlibs
game/python-packages
game/videos/videos/*

mypython/sceneEncrypter/encryption.key
mypython/sceneEncrypter/to_encrypt/*
mypython/sceneEncrypter/encrypted/*
mypython/sceneEncrypter/build
mypython/sceneEncrypter/dist
mypython/sceneEncrypter/sceneEncrypter.spec

mypython/installer/game
mypython/installer/build
mypython/installer/dist


apps/scene_encrypter/encrypted/*
apps/scene_encrypter/to_encrypt/*

installer/