game/saves/
game/cache/
game/pythonlibs
game/python-packages
game/videos/videos/*

mypython/sceneEncrypter/encryption.key
mypython/sceneEncrypter/to_encrypt/*
mypython/sceneEncrypter/encrypted/*
mypython/sceneEncrypter/build
mypython/sceneEncrypter/dist
mypython/sceneEncrypter/sceneEncrypter.spec

mypython/installer/game
mypython/installer/build
mypython/installer/dist
mypython/installer/atlax_renpy_installer.spec
mypython/installer/game.zip

game/videos/desierto.webm

apps/installer/

log.txt
TODO.txt
traceback.txt
errors.txt
Manual de desarrollo en Atlax Renpy.docx

installer/*

apps/scene_encrypter/encrypted/*
apps/scene_encrypter/to_encrypt/*
